$couleurBoutonEtBordure:#00FF00;

.test{
  color: white;
}


body{
  background-image: url("../img/eclair.gif");
  background-repeat:no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
}

#banniere {
    font-size:2.5em;
}

.boutton_index {
     background-color: $couleurBoutonEtBordure;
     color: black;
     border: solid;
     border-color: $couleurBoutonEtBordure;

     &:hover{
          cursor: pointer;
    }

}

.img{
  margin: 50px 0;
}

.titre_index{
  margin-top: 30px;
  text-decoration: underline;
  color: red;

}
.categorie{
  text-decoration: underline dotted;
  color: #00FFFF;
}
.center{
  text-align: center;
}

.auteur{
  color: yellow;
  text-decoration: underline dotted;
}

.date{
  color: white;
  text-decoration: underline dotted;
}

#pagination {
    margin-top: 2em;
}
